.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 75px;
  flex-wrap: wrap;
  font-size: 16px;
  align-items: center;
  font-family: 'Open Sans';
  justify-content: center;
  background-color: #1a1818;
}
.text {
  color: #fff;
  width: 100%;
  display: block;
  font-size: 55px;
  align-self: center;
  text-align: center;
  font-family: Lucida Console;
  font-weight: bold;
}
.container1 {
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.2);
}
.image {
  width: 350px;
  height: 300px;
  transition-timing-function: ease-in;
}
